<!doctype html>
<header>
  <%- include("../header.ejs") -%>
</header>
  <body>

    <main>
      <h2> boost amount: <%= boost %> </h2>

      <h2> likes amount: <%= likes %> </h2>

      <h2> messages amount: <%= messages %> </h2>
    </main>

<%- include("../script.ejs") -%>
</script>
</body>
