<!doctype html>
<header>
  <%- include("header.ejs") -%>
  <title>Boosts</title>
</header>

<body>
  <nav>
          <a href="/home"><img id="home" src="static/images/logo-datingssite.png"></a>
    <ul>
      <li><a href="/boost">

            <img class="active" src="static/images/boost2.png">
              <%- include("div/divboost.ejs") -%></a></li>

      <li><a href="/likes">
          <img class="unactive" src="static/images/likes.png">

              <%- include("div/divlikes.ejs") -%></a></li>

      <li><a href="/messages">
          <img class="unactive" src="static/images/messages.png">

              <%- include("div/divmessages.ejs") -%></a></li>
    </ul>
  </nav>

  <main>
    <p>Get and use your boost here!</p>
  </main>

<%- include("script.ejs") -%>
</script>
</body>
