<!doctype html>
<header>
  <%- include("header.ejs") -%>
  <title>Matchie</title>
</header>

<body>

<nav>
        <a href="/home"><img id="home" src="static/images/logo-datingssite.png"></a>
  <ul>
    <li><a href="/boost">
        <img src="static/images/boost.png">
            <div class="notification" id="noteBoost"><p class="number" id="valueBoost"><%= boost %></p></div>
        </a>
    </li>

    <li><a href="/likes">
        <img src="static/images/likes.png">

            <div class="notification" id="noteLikes"><p class="number" id="valueLikes"><%= likes %></p></div>
          </a>
      </li>

    <li><a href="/messages">
        <img class="unactive" src="static/images/messages.png">

            <div class="notification" id="noteMessages"><p class="number" id="valueMessages"><%= messages %></p></div>
          </a>
        </li>
  </ul>
</nav>

<main>
  <p>Welcome to Matchie!</p>
  <a href="/update" >Date up!</a>
</main>

<%- include("script.ejs") -%>
</script>
</body>
