
  <%- include("header.ejs") -%>


<body>
  <nav>
          <a href="/home"><img id="home" src="static/images/logo-datingssite.png"></a>
    <ul>
      <li><a href="/boost">
          <img class="unactive" src="static/images/boost.png">

              <%- include("div/divboost.ejs") -%></a></li>

      <li><a href="/likes">

            <img class="active" src="static/images/likes2.png">
              <%- include("div/divlikes.ejs") -%></a></li>

      <li><a href="/messages">
          <img class="unactive" src="static/images/messages.png">

              <%- include("div/divmessages.ejs") -%></a></li>
    </ul>
  </nav>

  <main>
    <p>See who liked your profile!</p>
  </main>

<%- include("script.ejs") -%>
</script>
</body>
